{% load staticfiles %}
<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8" />
      <link rel="shortcut icon" type="image/icon" href="{% static 'ftp/login/logo.png' %}"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
      <script
        src="https://kit.fontawesome.com/64d58efce2.js"
        crossorigin="anonymous"
      ></script>
      <title>{% block title %}{% endblock %}</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="{%static 'ftp/login/login.css' %}">
   <body>
       <div class="container1">
          <div class="forms-container">
    
         
               <!-- Form Box -->
               {% block content %}
               {% endblock %}
           
         </div>
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content" style="padding-top: 0px;">
              <div class="imagee"><img id="imagee" src="{% static 'ftp/login/logo.png' %}"></div>
            <h3>FOREIGN TRAINING PROGRAM</h3>
            <p style="
    margin-bottom: 0px;
">2021-2022</p>
            {% block register %}
                  {% endblock %}
          </div>
        </div>
        <div class="panel right-panel">
          <div class="content">
            <div class="imagee"><img id="imagee" src="{% static 'ftp/login/logo.png' %}"></div>
            <h3>FOREIGN TRAINING PROGRAM</h3>
            <p style="
    margin-bottom: 0px;
">2021-2022</p>
            {% block login %}
                  {% endblock %}
          </div>
        </div>
      </div>
    </div>
      <script src="{%static 'ftp/login/login.js' %}"></script>
   </body>
   </head>
</html>
