{% extends 'ftp/login/base.html' %}
{% load staticfiles %}

{% block title %}Login | FTP | International Relations Cell{% endblock %}

{% block switch %}
    <!-- Added switch button here-->
    <a href="#" class="switch">Create a new account</a>
{% endblock %}
{% block content %}
<div class="signin-signup">
    <form action="#" class="sign-in-form">
      <h2 class="title">Sign in</h2>
      <div class="input-field" style="grid-template-columns: 15% 37% 5%;">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <input type="text" placeholder="Email Address" />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">
              <select name="domain" class="form-group" style="margin-bottom:0;width: 9.5rem;font-size: 0.75rem;background-color: #f0f0f0;border: none;text-align-last: right;">
                  <option value="@iitkgp.ac.in" selected>@iitkgp.ac.in</option>
                  <option value="@kgpian.iitkgp.ac.in">@kgpian.iitkgp.ac.in</option>
              </select>
          </span>
       </div>
      </div>
      <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" />
      </div>
      <input type="submit" value="Login" class="btn solid" />
      <p class="social-text">Connect with us!</p>
      <div class="social-media">
        <a href="https://www.facebook.com/IRCIITKGP/" class="social-icon">
          <i class="fab fa-facebook-f"></i>
        </a>
        
        <a href="mailto:ftp.ircell@gmail.com" class="social-icon">
          <i class="material-icons">email</i>
        </a>
        <a href="https://www.linkedin.com/company/international-relations-cell-iit-kharagpur/mycompany/" class="social-icon">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </form>
    <form action="#" class="sign-up-form">
      <h2 class="title">Sign up</h2>
      <div class="input-field" style="grid-template-columns: 15% 37% 5%;">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <input type="text" placeholder="Email Address" />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">
              <select name="domain" class="form-group" style="margin-bottom:0;width: 9.5rem;font-size: 0.75rem;background-color: #f0f0f0;border: none;text-align-last: right;">
                  <option value="@iitkgp.ac.in" selected>@iitkgp.ac.in</option>
                  <option value="@kgpian.iitkgp.ac.in">@kgpian.iitkgp.ac.in</option>
              </select>
          </span>
       </div>
      </div>
      
      
      <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" />
      </div>

      <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Confirm password" />
      </div>

      <input type="submit" class="btn" value="Register" />
      <p class="social-text">Connect with us!</p>
      <div class="social-media">
        <a href="https://www.facebook.com/IRCIITKGP/" class="social-icon">
          <i class="fab fa-facebook-f"></i>
        </a>
        
        <a href="mailto:ftp.ircell@gmail.com" class="social-icon">
          <i class="material-icons">email</i>
        </a>
        <a href="https://www.linkedin.com/company/international-relations-cell-iit-kharagpur/mycompany/" class="social-icon">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
