{% extends 'ftp/login/base.html' %}
{% load staticfiles %}

{% block title %}Register | FTP | International Relations Cell{% endblock %}

{% block switch %}
    <!-- Added switch button here-->
    <a href="#" class="switch">Already have an account</a>
{% endblock %}
{% block content %}
    <div class="col-sm-6 form">
    <!-- Login Form -->
    <div class="login form-peice switched">
        <form class="login-form" action="{% url 'ftp:login_user' %}" method="POST">
           {% csrf_token %}
            {% if error %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endif %}
          <h4 style="text-align: center;margin-bottom:30px;color: #4a4e3f;">Log in to your Account</h4>
          <div class="form-group">
             <input type="text" name="email" required class="input-text Emaild" placeholder="Email Address">
             <!-- <b>@iitkgp.ac.in</b> -->
             <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <select name="domain" class="form-group" style="margin-bottom:0">
                        <option value="@iitkgp.ac.in" selected>@iitkgp.ac.in</option>
                        <option value="@kgpian.iitkgp.ac.in">@kgpian.iitkgp.ac.in</option>
                    </select>
                </span>
             </div>
          </div>
          <div class="form-group">
             <input type="password" name="password" required class="input-text" placeholder="Password">
          </div>
          <div class="CTA">
            <input class="ctainput" type="submit" value="Login">
             <a href="{% url 'ftp:forgotpassword' %}" class="registerlink forget"><strong>Forgot Password?</strong></a>
            </div>
       </form>
    </div>
    <!-- End Login Form -->
    <!-- Signup Form -->
    <div class="signup form-peice">
        <form action="{% url 'ftp:register' %}" method="POST">

        <h4 style="text-align: center;margin-bottom:30px;color: #4a4e3f;">Register New Account</h4>
            {% csrf_token %}
            <div>
                {% if errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if custom_error %}
                    <div class="alert alert-danger">
                        <strong>{{ custom_error|escape }}</strong>
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="text" name="username" required class="input-text Emaild" placeholder="Email Address">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">
                        <select name="domain" class="form-group" style="margin-bottom:0" disabled>
                            <option value="@iitkgp.ac.in" selected>@iitkgp.ac.in</option>
                            <option value="@kgpian.iitkgp.ac.in">@kgpian.iitkgp.ac.in</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <input type="password" name="password1" required class="input-text" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" name="password2" required class="input-text" placeholder="Confirm password" >
            </div>
            <div class="CTA">
                <input class="ctainput" type="submit" value="Register" id="submit">
            </div>
        </form>
    </div>
    <!-- End Signup Form -->
 </div>
{% endblock %}